.navbar a:hover{
    font-size: 30px;
}
.navbar a{
    text-decoration: none;
}
.navbar .home{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 1338px;
    top: 24px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.navbar .about{
    position: absolute;
    width: 68px;
    height: 27px;
    left: 1220px;
    top: 24px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.navbar .job{
    position: absolute;
    width: 37px;
    height: 27px;
    left: 1133px;
    top: 24px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
    color: #000000;
}
.navbar .image-logo{
    position: absolute;
    width: 220px;
    height: 93px;
    left: 3px;
    top: -13px;
    border-radius: 42px;
}
.image-background{
    position: absolute;
    width: 1440px;
    height: 460px;
    left: 0px;
    top: 80px;
    border-radius: 21px;
}
.badan .image-logo2{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 57px;
    top: 576px;
}
.badan .judul1{
    position: absolute;
    width: 303px;
    height: 49px;
    left: 270px;
    top: 576px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;
}
.badan .p1{
    position: absolute;
    width: 351px;
    height: 99px;
    left: 270px;
    top: 649px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.badan .image-logo3{
    position: absolute;
    width: 200px;
    height: 210.71px;
    left: 756px;
    top: 649px;
}
.badan .judul2{
    position: absolute;
    width: 338px;
    height: 98px;
    left: 985px;
    top: 621px;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #000000;

}
.badan .p2{
    position: absolute;
    width: 343px;
    height: 66px;
    left: 985px;
    top: 754px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}
.footbar .line{
    position: absolute;
    width: 1440px;
    height: 58px;
    left: 0px;
    top: 896px;
    border-radius: 10px;
}
.footbar a:hover{
    font-size: 27px;
}
.footbar a{
    text-decoration: none;
}
.footbar .carikerja{
    position: absolute;
    width: 180px;
    height: 33px;
    left: 288px;
    top: 908px;  
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: green;
}
.footbar .tentangkami{
    position: absolute;
    width: 170px;
    height: 33px;
    left: 1007px;
    top: 908px; 
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: green;
}
.foot{
    position: absolute;
    width: 281px;
    height: 118px;
    left: 580px;
    top: 990px;
}
.pfoot{
    position: absolute;
    width: 229px;
    height: 99px;
    left: 606px;
    top: 1124px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}
.kaki .line2{
    position: absolute;
    width: 1440px;
    height: 82px;
    left: 0px;
    top: 1295px;
    border-radius: 10px;
}
.kaki .p3{
    position: absolute;
    width: 172px;
    height: 33px;
    left: 634px;
    top: 1301px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}